extends boilerplate.pug

block vars
	- var title = "Match Scouting Reports"

block content
	div.container-fluid
		h1.page-header Match Scouting Reports

		if reports && reports.length > 0
			table.table#report-table
				thead
					th(scope="col") Team #
					th(scope="col") Team Name
					th(scope="col") Competition
					th(scope="col") Crossed Line In Autonomous
					th(scope="col") Cubes Placed In Autonomous
					th(scope="col") Cubes Delivered To Switch In Autonomous
					th(scope="col") Cubes Delivered To Portal In Autonomous
					th(scope="col") Autonomous Comments
					th(scope="col") Cubes Placed In Teleop
					th(scope="col") Powerup In Teleop
					th(scope="col") Exchange In Teleop
					th(scope="col") Does Scale Tip In Teleop
					th(scope="col") Used Levitate In Teleop
					th(scope="col") Climbed Rope In Teleop
					th(scope="col") Exchange In Teleop
					th(scope="col") Attempted Defence In Teleop
					th(scope="col") Cubes Delivered To Switch In Teleop
					th(scope="col") Cubes Delivered To Portal In Teleop
					th(scope="col") Teleop Comments
					th(scope="col") Suggestions For Team
					th(scope="col") New Strategies
					th(scope="col") General Comments
					th(scope="col") Submitted At
				tbody
					each r in reports
						tr
							th(scope="row")= r.teamNumber
							td= r.teamName
							td= r.competition
							td= r.crossedLineInAutonomous
							td= r.cubesPlacedInAutonomous
							td= r.cubesDeliveredToSwitchInAutonomous
							td= r.cubesDeliveredToPortalInAutonomous
							td= r.autonomousComments
							td= r.cubesPlacedInTeleop
							td= r.powerupInTeleop
							td= r.exchangeInTeleop
							td= r.doesScaleTipInTeleop
							td= r.usedLevitateInTeleop
							td= r.climbedRopeInTeleop
							td= r.exchangeInTeleop
							td= r.attemptedDefenceInTeleop
							td= r.cubesDeliveredToSwitchInTeleop
							td= r.cubesDeliveredToPortalInTeleop
							td= r.teleopComments
							td= r.suggestionsForTeam
							td= r.newStrategies
							td= r.generalComments
							td= r.submittedAt
		else
			p
				i No scouting reports found.

block scripts
	script(src="/reportTables.js")