extends boilerplate.pug

block vars
	- var title = "Match Scouting Reports"

block content
	div.container-fluid
		h1.page-header Match Scouting Reports

		if reports && reports.length > 0
			table.table#report-table
				thead
					if user.role == "administrator"
						th(scope="col")
					th(scope="col") Team
					th(scope="col") Tournament
					th(scope="col") Match Number

					th(scope="col") Crossed Line In Autonomous
					th(scope="col") Cubes Delivered To Switch In Autonomous
					th(scope="col") Cubes Delivered To Scale In Autonomous
					th(scope="col") Autonomous Comments

					th(scope="col") Cubes Delivered To Switch In Teleop
					th(scope="col") Cubes Delivered To Scale In Teleop
					th(scope="col") Cubes Delivered To Exchange In Teleop

					th(scope="col") Switch Reliability in Teleop
					th(scope="col") Scale Reliability in Teleop
					th(scope="col") Exchange Reliability in Teleop

					th(scope="col") Climb Time in Teleop

					th(scope="col") Defence Rating in Teleop
					th(scope="col") Driving Rating in Teleop
					th(scope="col") Evasion Rating in Teleop
					th(scope="col") Speed Rating in Teleop

					th(scope="col") Endgame
					th(scope="col") Did Robot Die

					th(scope="col") Teleop Comments
					
					th(scope="col") Submitted At
					th(scope="col") Submitted By
				tbody
					each r in reports
						tr
							if user.role == "administrator"
								th(scope="row")
									button.btn.btn-default#deleteReportButton(type="button", onclick=("deleteMatchScoutingReport('" + r._id + "')")) Delete
							td= r.team
							td= r.tournament
							td= r.matchNumber

							
							td= r.crossedLineInAutonomous
							td= r.cubesDeliveredToSwitchInAutonomous
							td= r.cubesDeliveredToScaleInAutonomous
							td= r.autonomousComments

							td= r.cubesDeliveredToSwitchInTeleop
							td= r.cubesDeliveredToScaleInTeleop
							td= r.cubesDeliveredToExchangeInTeleop

							td= r.switchReliabilityInTeleop
							td= r.scaleReliabilityInTeleop
							td= r.exchangeReliabilityInTeleop

							td= r.climbTimeInTeleop

							td= r.defenceRatingInTeleop
							td= r.drivingRatingInTeleop
							td= r.evasionRatingInTeleop
							td= r.speedRatingInTeleop

							td= r.endgame
							td= r.didRobotDie
							td= r.teleopComments
	
							td= new Date(r.submittedAt).toLocaleString()
							td= r.submittedBy
		else
			p
				i No scouting reports found.

block scripts
	script(src="/reportTables.js")