html
	head
		title Web Data
	body
		div.container-fluid
			h1.page-header Web Data
				if showPitScouting == true
					h3 Pit Scouting Reports
					table.table#report-table
						thead
							th(scope="col") Team
							th(scope="col") Tournament

							th(scope="col") Robot Speed (ft/s)
							th(scope="col") Transmission
							th(scope="col") Drive Train
							th(scope="col") Custom Drive Train

							th(scope="col") Can Use Scale at Top
							th(scope="col") Can Use Scale at Mid
							th(scope="col") Can Use Scale at Bottom
							th(scope="col") Can Use Switch
							th(scope="col") Can Use Exchange
							th(scope="col") Can Pick Off Ground

							th(scope="col") Can Autono.
							th(scope="col") Theoretical Max Cubes In Switch In Autonomous
							th(scope="col") Theoretical Max Cubes In Scale In Autonomous
							th(scope="col") Authonomous Comments

							th(scope="col") Will Play Defence
							th(scope="col") Defence Description

							th(scope="col") Climber Type
							th(scope="col") Custom Climber Type
							th(scope="col") Climb Time

							th(scope="col") Main Strengths
							th(scope="col") Quality of Pit

							th(scope="col") General Comments

							th(scope="col") Submitted At
							th(scope="col") Submitted By
						tbody
							each r in pitScoutingReports
								tr
									th(scope="row")= r.team
									td= r.tournament

									td= r.robotSpeed
									td= r.transmission
									td= r.driveTrain
									td= r.customDriveTrain

									td= r.canUseScaleAtTop
									td= r.canUseScaleAtMid
									td= r.canUseScaleAtBottom
									td= r.canUseSwitch
									td= r.canUseExchange
									td= r.canPickOffGround
									
									td= r.canAutonomous
									td= r.theoreticalMaxCubesInSwitchInAutonomous
									td= r.theoreticalMaxCubesInScaleInAutonomous
									td= r.autonomousComments

									td= r.willPlayDefence
									td= r.defenceDescription

									td= r.climberType
									td= r.customClimberType
									td= r.climbTime

									td= r.mainStrengths
									td= r.qualityOfPit

									td= r.generalComments

									td= new Date(r.submittedAt).toLocaleString()
									td= r.submittedBy
				if showMatchScouting == true
					h3 Match Scouting Reports
					table.table#report-table
						thead
							th(scope="col") Team Name

							th(scope="col") Number of Reports

							th(scope="col") Crossed Line In Autonomous Frequency
							th(scope="col") Average Cubes Delivered To Switch In Autonomous
							th(scope="col") Zeroed Average Cubes Delivered To Switch In Autonomous

							th(scope="col") Average Cubes Delivered To Scale In Autonomous
							th(scope="col") Zeroed Average Cubes Delivered To Scale In Autonomous

							th(scope="col") Autonomous Comments

							th(scope="col") Average Cubes Delivered To Switch In Teleop
							th(scope="col") Zeroed Average Cubes Delivered To Switch In Teleop

							th(scope="col") Average Cubes Delivered To Scale In Teleop
							th(scope="col") Zeroed Average Cubes Delivered To Scale In Teleop

							th(scope="col") Average Cubes Delivered To Exchange In Teleop
							th(scope="col") Zeroed Average Cubes Delivered To Exchange In Teleop

							th(scope="col") Average Switch Reliability in Teleop
							th(scope="col") Average Scale Reliability in Teleop
							th(scope="col") Average Exchange Reliability in Teleop

							th(scope="col") Average Climb Time in Teleop
							th(scope="col") Zeroed Average Climb Time in Teleop

							th(scope="col") Average Defence Rating in Teleop
							th(scope="col") Average Driving Rating in Teleop
							th(scope="col") Average Evasion Rating in Teleop
							th(scope="col") Average Speed Rating in Teleop

							th(scope="col") Endgames Sorted by Frequency
							th(scope="col") Robot Death Frequency

							th(scope="col") Teleop Comments

						tbody
							each team in matchScoutingData
								tr
									th(scope="row")= team.teamName

									td= team.numberOfReports

									td= team.crossedLineInAutonomousFrequency

									td= team.averageCubesDeliveredToSwitchInAutonomous
									td= team.zeroedAverageCubesDeliveredToSwitchInAutonomous

									td= team.averageCubesDeliveredToScaleInAutonomous
									td= team.zeroedAverageCubesDeliveredToScaleInAutonomous

									td= team.autonomousComments

									td= team.averageCubesDeliveredToSwitchInTeleop
									td= team.zeroedAverageCubesDeliveredToSwitchInTeleop

									td= team.averageCubesDeliveredToScaleInTeleop
									td= team.zeroedAverageCubesDeliveredToScaleInTeleop

									td= team.averageCubesDeliveredToExchangeInTeleop
									td= team.zeroedAverageCubesDeliveredToExchangeInTeleop


									td= team.averageSwitchReliabilityInTeleop
									td= team.averageScaleReliabilityInTeleop
									td= team.averageExchangeReliabilityInTeleop

									td= team.averageClimbTimeInTeleop
									td= team.zeroedAverageClimbTimeInTeleop

									td= team.averageDefenceRatingInTeleop
									td= team.averageDrivingRatingInTeleop
									td= team.averageEvasionRatingInTeleop
									td= team.averageSpeedRatingInTeleop

									td= team.endgamesSortedByFrequency
									td= team.frequencyOfRobotDeath
									td= team.teleopComments

		script(src="webdataConsolidated.js")
		script(src="/jquery/dist/jquery.min.js")