extends boilerplate.pug
include mixins/alerts.pug

block content
	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		//.w-100.d-flex
		a.navbar-brand(href="/")
			img(src="/teamlogo.png").brand-img
			span #{tba.team.nickname} Scouting
			//small.text-muted #{tba.event.name} #{tba.event.year}
		button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
			span.navbar-toggler-icon
		
		.collapse.navbar-collapse#navbarSupportedContent
			ul.navbar-nav.mr-auto
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#navbarDropdown(role="button", data-toggle="dropdown", aria-expanded="false") Scout
					.dropdown-menu(aria-labelledby="navbarDropdown")
						each schema in reportSchemas
							a.dropdown-item(href="/scout/" + schema.name)= schema.title
				li.nav-item
					a.nav-link(href="/data") View Data
				if user.role != "administrator"
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle.admin#navbarAdminDropdown(role="button", data-toggle="dropdown", aria-expanded="false") Administrate
						.dropdown-menu(aria-labelledby="navbarAdminDropdown")
							a.dropdown-item(href="/register") Register New Users
			ul.navbar-nav.ml-auto
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#navbarUserDropdown(role="button", data-toggle="dropdown", aria-expanded="false")= user.name
					.dropdown-menu(aria-labelledby="navbarUserDropdown")
						a.dropdown-item(href="/logout") Logout
	.container
		br
		+showAlerts(flashMessages)
		block main